<div class="jumbotron">
  <h1>JP Property Cost Calculator</h1>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label for="propertyCost">Property cost</label>
      <input [(ngModel)]="purchaseCost" (ngModelChange)="update($event)" type="number" class="form-control" name="propertyCost" placeholder="10000000">
    </div>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cost type</th>
        <th scope="col">Details</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cost of costs">
        <th scope="row">{{ cost.name }}</th>
        <td>{{ cost.description }}</td>
        <td>{{ cost.cost }}</td>
      </tr>
    </tbody>
  </table>
</div>
